header{
    font-size: 13px !important;
}
.navbar-collapse a{
    color: black!important;
    font-size: medium!important;
}
.navbar .dropdown.show a.notification-button{
    color: crimson!important;
}
.notification-icon
{
    padding: 3px;
}
.dropdown-menu{
    border-radius: 0 !important;
}
a.dropdown-item{
    color: #6f6f6f !important;
    font-size: 14px !important;
}
.dropdown-item:hover, a.dropdown-item:active{
    background: transparent;
    color: dodgerblue !important;
}
.dropdown-item:active, a.dropdown-item:hover{
    background: transparent;
    color: dodgerblue !important;
}
.search-box{
    background: transparent;
    border-color: black !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-box:focus{
    border-color:  dodgerblue !important;
}
.search-box:focus+.btn-search{
    border-color:  dodgerblue !important;
}
.search-box::placeholder{
    color:  #28303b !important;
    opacity: 1;
}
.search-box:focus::placeholder{
    color: dodgerblue;
    opacity: 1;
}
.btn-search{
    border-width: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-color: black;
}
.nav-container{
    padding: 0 150px !important;
}
a.list-group-item-action{
    font-size: medium !important;
    font-weight: 400 !important;
}
@media screen and (max-width: 800px) {
    .nav-container{
        padding: 0 25px !important;
    }
}
@media screen and (max-width: 800px) {
    .email-block{
        display: none;
    }
}
.navbar-collapse a.active{
    color: dodgerblue !important;
    font-weight: 900 !important;
}
